 body{
 	background-color: #D5BBBB;
 	font-size: 25px;
 	font-weight: bold;
 }

 input, select, button{
    margin: 0;              
    outline: none; 
	vertical-align:baseline;
    background:transparent; 
    border:none;
    border-color:transparent; 
    overflow:none;         
}

button{
	background-color: #A57B7B;
	border: 3px solid #824C4C;
}

input{
	border-bottom: 3px solid #824C4C;
}

 form, div{
 	width: 100%;
 	margin-left: auto;
 	margin-right: auto;
 	display: flex;
	flex-wrap: wrap;
 }
 form{
 	justify-content: space-around;
 }
 div{
 	justify-content: center;
 }
 p {
 	margin: 0;
 }

